/* CSS Document */
body {
font-size: 10pt;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color: #BDBDBD;
line-height: 14pt;
padding-left: 5pt;
padding-right: 5pt;
padding-top: 5pt;
background-color: #181617;
}

h1 {
font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight: bold;
line-height: 24pt;
color: #eb9530;

}
h3 {
font: 14pt Verdana, Geneva, Arial, Helvetica, sans-serif;
font-weight: bold;
line-height: 20pt;
}

header {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  color: #003827;
}
p{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.subheader{
font:12pt Arial;
color: #9C98A0;
}
.primary-nav {
font-size: 14px;
font-weight: 400;
word-spacing: 10px;
text-transform: uppercase;
}
.center{
  text-align: center;
  list-style-position: inside;
  display:block;

}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;

width: 25%;
height: 25%;
border:solid;
border-width:5px;
padding:10px;
border-radius:15px;
border-color:#FFC75F;
}

ul{
  text-align: left;
  display: inline-block;
}
ol{
  text-align: left;
  display: inline-block;
}
nav{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid ;
}
a{
  text-decoration: none;
}

a:link, a:visited{
  color: #f5a24d;
}

a:hover{color: #F9F871;}, a:active{color: #d56b09;}
